<div id="{{id}}" class="carousel slide {{class}}" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {{#each imagenes}}
      <li data-target="#{{ id }}" data-slide-to="{{@index}}" class="{{class}}"></li>
    {{/each}}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {{#each slides}}
      <div class="item {{class}}">
        {{ fila }}
      </div>
    {{/each}}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#{{id}}" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#{{id}}" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>