---
component : resumen-categorias
---

<div class = 'resumen-categoria {{ width }} {{class}}'>
	<figure>
		<img src = '{{image}}' alt = '{{alt}}'/>
		<figcaption class = 'col-xs-12 categoria {{class-caption}}'>
			<span class="category"><a href="#">{{categoria}}</a></span>
			<span class="cantidad-recurso"><strong>{{recursos}}</strong> baliabide</span>
		</figcaption>
	</figure>
</div>